.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  font-family: Courier, monospace;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 4px;
  margin-top: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Courier, monospace;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border: 2px solid #007bff;
  border-radius: 4px;
}
.journal-container {
  margin-top: 20px;
}

.journal-label {
  display: block;
  font-size: 18px;
}

.journal-textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-family: Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  white-space: pre-wrap; /* Preserve line breaks */
}

.journal-textarea:focus {
  border-color: #007bff; /* Change color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}

.journal-textarea b {
  font-weight: bold; /* Set text inside <b> tags to bold */
}
